<div class="table-responsive">
    <table class="table table-hover table-striped" style="margin-bottom:0">
        <thead>
            <tr class="canhgiua" style="background-color: #00bcd4">
                <th class="canhgiua">STT</th>
                <th class="canhgiua">UserId</th>
                <th class="canhgiua">Loại User</th>
                <th class="canhgiua">User Name</th>
                <th class="canhgiua">Công Việc</th>
                <th class="canhgiua">Ngày</th>
            </tr>
        </thead>
        <tbody style="border: 2px solid black !important">
            @foreach (DoChoiXeMay.Models.NhatKyUTek Item in ViewBag.GetNhatKy)
            {
                <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                    <td>
                        @Item.GhiChu
                    </td>
                    <td>@Item.UserID</td>
                    <td>@Item.LoaiUser</td>
                    <td>
                        @Item.UserName
                    </td>
                    <td>
                        @Item.CongViec
                    </td>
                    <td>
                        @Item.CreateDate
                    </td>
                </tr>

            }
        </tbody>

    </table>

</div>
