@model DoChoiXeMay.Models.MaTC
@{
    ViewBag.Title = "UpdateMaThuChi";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<link href="~/Areas/Admin/Content/css/Info_Style.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="container">
    <h2>Update Mã Thu-Chi</h2>
    @using (Html.BeginForm("DanhMuc", "UpdateMaThuChi", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset class="info_form" style="margin-top:0">
            <div class="container">
                @Html.HiddenFor(kh => kh.Id)
                <h1 class="info_header">
                    <span style="color:black">Update @Model.TenMa</span>
                    <span class="pull-right label label-warning" style="color:white;font-family:monospace">
                        @Html.ValidationSummary()
                    </span>
                </h1>
                <div class="contentform">
                    <div class="form-group">
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Tên </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.TenMa, new { @class = "form-control", style = "height: 40px", @required = true })

                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Giải thích </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.GhiChu, new { @class = "form-control", style = "height: 40px", @required = true })

                        </div>
                        <div class="row" style="width:95%;margin-top:10px">
                            <div class="col-md-2" style="text-align:left;line-height:30px">
                                <span>Sử Dụng</span>
                            </div>
                            <div class="col-md-1" style="text-align:left">
                                @Html.CheckBoxFor(m => m.SuDung, new { @style = "height:20px;margin-left: 0" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="text-center btn-crud">
                                    <button id="btnLuu" class="btn btn-warning" data-action="UpdateMaThuChi"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Update</button>
                                    <a class="btn btn-primary" href="/Admin/DanhMuc/ListMaThuChi" style="margin-left:10%"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Quay Lại</a>
                                </div>
                                <script>
                                    $(function () {
                                        $("button[data-action]").click(function () {
                                            if (!confirm("Bạn Có Chắc Chắn Hành Động Của Mình?")) {
                                                return false;
                                            } else {
                                                var action = $(this).attr("data-action");
                                                this.form.action = "/Admin/DanhMuc/" + action;
                                            }

                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    }
</div>

