@model DoChoiXeMay.Models.Ser_ChiNhanh
@{
    ViewBag.Title = "UpdateChiNhanh";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<link href="~/Areas/Admin/Content/css/Info_Style.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="container">
    <h2>Update Chi Nhánh</h2>
    @using (Html.BeginForm("DanhMuc", "UpdateChiNhanhvaUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        <fieldset class="info_form" style="margin-top:0">
            <div class="container">
                @Html.HiddenFor(kh => kh.Id)
                @Html.HiddenFor(kh=>kh.IdUser)
                @Html.HiddenFor(kh=>kh.STTCNOFTinh)
                @Html.HiddenFor(kh=>kh.TenChiNhanh)
                <h1 class="info_header">
                    <span style="color:black">Update Chi Nhánh @Model.TenChiNhanh và User</span>
                    <span class="pull-right label label-warning" style="color:white;font-family:monospace">
                        @Html.ValidationSummary()
                    </span>
                </h1>
                <div class="contentform">
                    <div class="form-group">
                        <div class="row" style="border: 1px dashed #423333; padding: 5px; margin-bottom: 15px;width:70%;margin-left:10px">
                            <div class="col-md-6">
                                <p>UserName dùng Login web</p>
                                <input value="@Session["UserNamechinhanh"]" type="text" class="form-control" id="UserName" name="UserName" placeholder="User dùng login web" required>
                            </div>
                            <div class="col-sm-6" style="text-align:center">
                                <p>PassWord</p>
                                <input value="@Session["PWchinhanh"]" type="text" class="form-control" id="Password" name="Password" placeholder="Pass dùng login web" required>
                            </div>
                        </div>
                        <div class="row" style="border: 1px dashed #423333; padding: 5px; margin-bottom: 15px;width:70%;margin-left:10px">
                            <div class="col-md-6">
                                <p>Số ĐT </p>
                                @Html.TextBoxFor(m => m.SDT, new { @class = "form-control", @type = "text", style = "width: 100%; height: 40px", @required = true })
                            </div>
                            <div class="col-sm-6" style="text-align:center">
                                <p>Sử Dụng</p>
                                @Html.CheckBoxFor(m => m.Sudung, new { @style = "height:20px;margin-left: 10%" })
                            </div>
                        </div>

                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Tên Chi Nhánh (Tự phát sinh theo khu vực và level) </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.TenChiNhanh, new { @class = "form-control", style = "height: 40px;width: 100%", @disabled = true })

                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Tên người Đại Diện </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.DaiDien, new { @class = "form-control", style = "width: 100%; height: 40px", @required = true })
                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Địa Chỉ </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control", @type = "text", style = "width: 100%; height: 40px", @required = true })
                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Tài Khoản NH </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.TaiKhoanNH, new { @class = "form-control", @type = "text", style = "width: 100%; height: 40px", @required = true })
                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Gmail </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.Gmail, new { @class = "form-control", @type = "text", style = "width: 100%; height: 40px", @required = true })
                        </div>

                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Khu Vực </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-level-up"></i></span>
                            @Html.DropDownList("IdKhuVuc", null, new { @class = "form-control", style = "width: 75%; height: 40px" })

                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>Level Chi Nhánh </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-level-up"></i></span>
                            @Html.DropDownList("IdLevel", null, new { @class = "form-control", style = "width: 75%; height: 40px" })

                        </div>
                        <div class="row" style="width:95%;padding-left:15px">
                            <p>GhiChu </p>
                            <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                            @Html.TextBoxFor(m => m.GhiChu, new { @class = "form-control", @type = "text", style = "width: 100%; height: 40px", @required = true })
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="text-center btn-crud">
                                    <button id="btnLuu" class="btn btn-warning" data-action="UpdateChiNhanhvaUser"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Update</button>
                                    <a class="btn btn-primary" href="/Admin/DanhMuc/Listchinhanh" style="margin-left:10%"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Quay Lại</a>
                                </div>
                                <script>
                                    $(function () {
                                        $("button[data-action]").click(function () {
                                            if (!confirm("Bạn Có Chắc Chắn Hành Động Của Mình?")) {
                                                return false;
                                            } else {
                                                var action = $(this).attr("data-action");
                                                this.form.action = "/Admin/DanhMuc/" + action;
                                            }

                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    </div>
            </div>
        </fieldset>
    }
</div>

