<div class="table-responsive">
    <table class="table table-hover table-striped" style="margin-bottom:0">
        <thead>
            <tr class="canhgiua" style="background-color: #00bcd4">
                <th class="canhgiua" style="max-width: 15px">STT</th>
                <th class="canhgiua">Tên Sản Phẩm</th>
                <th class="canhgiua">Loại</th>
                <th class="canhgiua">Số Lượng</th>
                <th class="canhgiua" style="width:230px">Giá Nhập Cuối</th>

                <th class="canhgiua" style="max-width: 40px;padding:0">Img 1</th>
                <th class="canhgiua" style="max-width: 40px; padding: 0">Img 2</th>
                <th class="canhgiua" style="max-width: 40px; padding: 0">Img 3</th>
                <th class="canhgiua" style="min-width: 30px">Update</th>
            </tr>
        </thead>
        <tbody style="border: 2px solid black !important">
            @foreach (DoChoiXeMay.Models.HangHoa Item in ViewBag.HHTEK)
            {
                <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                    <td>@Item.GhiChu</td>
                    <td>
                        @Item.Ten
                        @if (Item.IDColor > 1)
                        {
                            <span> <span>-</span>@Item.Color.TenColor</span>
                        }
                        @if (Item.IDMF != 3)
                        {
                            <span> <span>-</span>@Item.Manufacturer.Name</span>
                        }
                        @if (Item.IDSize != 1)
                        {
                            <span> <span>-</span>size @Item.Size.TenSize</span>
                        }
                    </td>
                    <td>
                        @if (Item.IDKy == 1)
                        {
                            <span>NVL</span>
                        }
                        else
                        {
                            <span>SP</span>
                        }
                    </td>
                    <td>@Item.SoLuong</td>
                    <td>@Html.FormatValue(Item.GiaNhap, "{0:#,###,###}")</td>

                    <td>
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.Hinh1)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.Hinh1">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.Hinh2)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.Hinh2">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>
                    <td style="border-right: 2px solid black !important">
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.Hinh3)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.Hinh3">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (int.Parse(Session["quyen"].ToString()) < 5)
                        {
                            <a class="btn btn-danger" href="/Admin/Home/UpdateHinhSP/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr class="canhgiua">
                <td style="color:chocolate">TeK hiện có:</td>
                <td style="color:chocolate">@ViewBag.TongLoai Loại</td>
                <td style="color:chocolate">Gồm @ViewBag.Tongsp sản phẩm</td>
                <td style="color:chocolate">Tổng Vốn: @Html.FormatValue(ViewBag.TongTien, "{0:#,###,###}") (vnd)</td>

            </tr>
        </tfoot>
    </table>

</div>
