@using DoChoiXeMay.Areas.Admin.Data;
<div class="table-responsive">
    <table class="table table-hover table-striped" style="margin-bottom:0">
        <thead>
            <tr class="canhgiua" style="background-color: #00bcd4">
                <th class="canhgiua" style="max-width: 15px">STT</th>
                @if (Session["quyen"].ToString() == "1")
                {
                    <th class="canhgiua" style="width:30px">Update / Xóa</th>
                }
                else
                {
                    <th class="canhgiua" style="width:30px">Thu Hồi</th>
                }
                <th class="canhgiua" style="width:100px">UserName</th>
                <th class="canhgiua" style="width:200px">Tên Kỳ</th>
                <th class="canhgiua" style="width:200px">Xuất Nhập/Số tiền </th>
                <th class="canhgiua" style="max-width: 30px; padding-left: 0;padding-right:0">Hóa Đơn</th>
                <th class="canhgiua" style="max-width: 30px; padding-left: 0;padding-right:0">File 2</th>
                <th class="canhgiua" style="max-width: 30px; padding-left: 0;padding-right:0">File 3</th>

                <th class="canhgiua">Soluong/Tên Hàng/ThôngSố/Hãng</th>
                <th class="canhgiua">Giá Nhập</th>
                <th class="canhgiua" style="max-width: 15px">Hình 1</th>
                <th class="canhgiua" style="max-width: 15px">Hình 2</th>
                <th class="canhgiua" style="max-width: 15px">Hình 3</th>
                <th class="canhgiua" style="max-width: 15px">STT</th>

            </tr>
        </thead>
        <tbody style="border: 2px solid black !important">
            @foreach (DoChoiXeMay.Models.KyXuatNhap Item in ViewBag.KyXNTeK)
            {
                var Chitiet = new XuatNhapData().GetListByKy(Item.Id);
                var tenky = XstringAdmin.Truncate(Item.TenKy, 50);
                <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                    <td>@Item.STT</td>
                    <td>
                        @if (Session["quyen"].ToString() == "1")
                        {
                            <a title="Update Kỳ hiện tại" class="btn btn-primary" href="/Admin/XuatNhap/UpdateKyXNUser/@Item.Id">
                                <span class="glyphicon glyphicon-edit" style="font-size:20px"></span>
                            </a>
                            <hr />
                            <a hidden title="Xóa Kỳ hiện tại" class="btn btn-danger" onclick="return confirm('Bạn muốn xóa Kỳ @Item.TenKy ??')"
                               href="/Admin/XuatNhap/DeleteKyXNUser/@Item.Id"><span class="glyphicon glyphicon-trash" style="font-size:20px"></span></a>
                        }
                        else if (Session["quyen"].ToString() != "1" && Item.UserId == int.Parse(Session["UserId"].ToString()))
                        {
                            if (Item.UYeuCauThuHoi == false)
                            {
                                <p>
                                    <a href="/Admin/XuatNhap/YeuCauThuHoi/@Item.Id" class="btn btn-default" style="font-size:small" onclick="return confirm('Bạn muốn Thu Hồi.!!!')">
                                        Yêu Cầu Thu Hồi
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p>
                                    <a class="btn notika-btn-blue">
                                        Bạn yêu cầu "Thu Hồi Xuất Nhập TEK"
                                        <hr />
                                        <span>Đang chờ Admin Xác Nhận</span>
                                    </a>
                                    <hr />
                                    <a class="btn btn-danger" href="/Admin/XuatNhap/YeuCauThuHoi/@Item.Id" onclick="return confirm('Bạn muốn Hủy yêu cầu Đẩy Kỳ-@Item.TenKy- đến TEK ??')">
                                        click: Hủy Yêu Cầu Thu Hồi
                                    </a>
                                </p>
                            }

                        }
                        else
                        {
                            <p>
                                <a style="font-size:20px" title="Bạn Không có quyền">Không</a>
                            </p>
                        }
                        <hr />
                    </td>

                    <td>
                        <p style="font-size:20px;height:65px">@Item.UserTek.UserName</p>
                        <hr />
                        <p>
                            @if (Item.VAT > 0)
                            {
                                <span>(VAT:&nbsp;@Item.VAT %)</span> <br />
                            }
                            @if (Item.CKphantram > 0)
                            {
                                <span>(ChietKhau%: &nbsp;@Item.CKphantram %)</span><br />
                            }
                            @if (Item.CKtienmat > 0)
                            {
                                <span>(ChietKhau tiền mặt:&nbsp;@Html.FormatValue(Item.CKtienmat, "{0:#,###,###}"))</span><br />
                            }
                            @if (Item.Shipper > 0)
                            {
                                <span>(Tiền Ship:&nbsp;@Html.FormatValue(Item.Shipper, "{0:#,###,###}"))</span><br />
                            }


                        </p>
                        @if (Item.UYeuCauThuHoi && Session["quyen"].ToString() == "1")
                        {
                            <hr />
                            <p>
                                <a class="btn notika-btn-blue">
                                    Đã Yêu Cầu Thu Hồi
                                </a>
                                <hr />
                                <a class="btn btn-danger" href="/Admin/XuatNhap/XacNhanThuHoi/@Item.Id" onclick="return confirm('Bạn muốn Xác Nhận yêu cầu Thu Hồi Kỳ-@Item.TenKy- về User ??')">
                                    click: Xác Nhận Thu Hồi
                                </a>
                            </p>
                        }
                    </td>

                    <td>
                        <p style="font-size: 20px; color: red; height: 65px">@tenky</p>
                        @if (Item.LuuKho != null)
                        {
                            if (Item.LuuKho.Trim() != "")
                            {
                                <hr />
                                <p>Lưu: @Item.LuuKho</p>
                            }
                        }
                        <hr />
                        <p>(Ngày: @Html.FormatValue(Item.NgayXuatNhap, "{0:dd/MM/yyyy}"))</p>
                    </td>

                    <td>
                        <p style="font-size: 20px; height: 65px">
                            @if (Item.XuatNhap == true)
                            {
                                <span style="background-color:burlywood">Xuất Hàng</span>
                            }
                            else
                            {
                                <span>Nhập Hàng</span>
                            }
                        </p>
                        <hr />
                        <p style="font-size:20px">Tổng: @Html.FormatValue(Item.TongTienAuto, "{0:#,###,###}")</p>

                    </td>
                    <td>
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.HoaDon)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.HoaDon">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.Filesave2)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.Filesave2">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>
                    <td style="border-right: 2px solid black !important">
                        @if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + Item.Filesave3)))
                        {
                            <a target="_blank" href="~/Content/imgxuatnhap/@Item.Filesave3">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>
                        }
                    </td>

                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            var tenHH = XstringAdmin.Truncate(ct.Ten, 40);
                            <p style="height:40px" title="@ct.Ten">

                                <span>@ct.SoLuong&nbsp;</span>
                                <span>@tenHH</span>
                                @if (ct.IDColor > 1)
                                {
                                    <span> <span>-</span>@ct.Color.TenColor</span>
                                }
                                @if (ct.IDMF != 3)
                                {
                                    <span> <span>-</span>@ct.Manufacturer.Name</span>
                                }
                                @if (ct.IDSize != 1)
                                {
                                    <span> <span>-</span>size @ct.Size.TenSize</span>
                                }
                            </p>
                            <hr />
                        }

                    </td>
                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            <p style="height:40px">
                                @Html.FormatValue(ct.Gianhap, "{0:#,###,###}")
                            </p>
                            <hr />
                        }
                    </td>
                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + ct.Hinh1)))
                            {
                                <p style="height:40px">
                                    <a target="_blank" href="~/Content/imgxuatnhap/@ct.Hinh1">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </a>
                                </p>
                                <hr />
                            }
                        }

                    </td>
                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + ct.Hinh2)))
                            {
                                <p style="height:40px">
                                    <a target="_blank" href="~/Content/imgxuatnhap/@ct.Hinh2">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </a>
                                </p>
                                <hr />
                            }
                        }

                    </td>
                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            if (File.Exists(Request.MapPath("~/Content/imgxuatnhap/" + ct.Hinh3)))
                            {
                                <p style="height:40px">
                                    <a target="_blank" href="~/Content/imgxuatnhap/@ct.Hinh3">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </a>
                                </p>

                            }
                        }

                    </td>
                    <td>
                        @foreach (DoChoiXeMay.Models.ChitietXuatNhap ct in Chitiet)
                        {
                            <p style="height:40px">
                                @ct.GhiChu
                            </p>
                            <hr />
                        }
                    </td>
                </tr>

            }
        </tbody>

    </table>

</div>
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<script>

</script>
