@model DoChoiXeMay.Models.NoteKythuat
@{
    ViewBag.Title = "EditVideo";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<link href="~/Areas/Admin/Content/css/Info_Style.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="container">
    <h2>EditVideo</h2>
    @using (Html.BeginForm("NoteKyThuat", "EditVideo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
    <fieldset class="info_form" style="margin-top:0">
        <div class="container">
            @Html.HiddenFor(kh => kh.Id)
            @Html.HiddenFor(kh => kh.Stt)
            @Html.HiddenFor(kh => kh.UserId)
            @Html.HiddenFor(kh => kh.UPush)
            @Html.HiddenFor(kh => kh.PushtoNoteId)
            @Html.HiddenFor(kh => kh.AdminXacNhan)
            @Html.HiddenFor(kh => kh.LoaiNoteId)
            <h1 class="info_header">
                <span style="color:black">Update @Model.NoteName</span>
                <span class="pull-right label label-warning" style="color:white;font-family:monospace">
                    @Html.ValidationSummary()
                </span>
            </h1>
            <div class="contentform">
                <div class="form-group">
                    <div class="row" style="width:95%;padding-left:15px">
                        <p>Tiêu đề </p>
                        <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.NoteName, new { @class = "form-control", style = "height: 40px", @required = true })

                    </div>
                    <div class="row" style="width:95%;padding-left:15px">
                        <p>Link Youtube </p>
                        <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                        @Html.TextBoxFor(m => m.NoiDung, new { @class = "form-control", style = "height: 40px", @required = true })

                    </div>
                    <div class="row" style="width:95%;padding-left:15px">
                        <p>Vi tri </p>
                        <span class="icon-case"><i class="glyphicon glyphicon-expand"></i></span>
                        @Html.DropDownList("IdHanhDong", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="form-group col-sm-12">
                            <div class="text-center btn-crud">
                                <button id="btnLuu" class="btn btn-warning" data-action="EditVideo"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Update</button>
                                <a class="btn btn-primary" href="/Admin/NoteKyThuat/VDTEK" style="margin-left:10%"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Quay Lại</a>
                            </div>
                            <script>
                                $(function () {
                                    $("button[data-action]").click(function () {
                                        if (!confirm("Bạn Có Chắc Chắn Hành Động Của Mình?")) {
                                            return false;
                                        } else {
                                            var action = $(this).attr("data-action");
                                            this.form.action = "/Admin/NoteKyThuat/" + action;
                                        }

                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
              }
    </div>


