<style>
    .hinhdaidientek {
        width: 50px;
    }
</style>
<div class="table-responsive">
    <table class="table table-hover table-striped" style="margin-bottom:0">
        <thead>
            <tr class="canhgiua" style="background-color: #00bcd4">
                <th class="canhgiua">Id</th>
                <th class="canhgiua">Hình</th>
                <th class="canhgiua">Vị trí</th>
                <th class="canhgiua">Sử Dụng</th>
                <th class="canhgiua">Ghi Chú</th>
                <th class="canhgiua">Ngày</th>
                <th class="canhgiua">Update/Delete</th>
            </tr>
        </thead>
        <tbody style="border: 2px solid black !important">
            @foreach (DoChoiXeMay.Models.QCtrangchu Item in ViewBag.GetHinhTrangChu)
            {
                <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                    <td>@Item.Id</td>
                    @if (Item.Img && Item.Idvitri == 1)
                    {
                        <td><img src="~/Content/images/@Item.Name" alt="" class="hinhdaidientek" /></td>
                    }
                    else if (Item.Img && Item.Idvitri == 2)
                    {
                        <td><img src="~/Content/images/clients/@Item.Name" alt="" class="hinhdaidientek" /></td>
                    }
                    else
                    {
                        <td>@Item.Name</td>
                    }

                    <td>@Item.QCVitri.Vitri</td>

                    <td>@Item.Sudung</td>
                    <td>@Item.Ghichu</td>
                    <td>@Item.Ngay</td>
                    @*@if (Item.Name != null && Item.Name != "Auto")
        {
            <td><img src="~/Content/images/@Item.Name" alt="" class="avatartek" /></td>
        }*@
                    <td>
                        @if (int.Parse(Session["quyen"].ToString()) < 3)
                        {
                            <a class="btn btn-danger" href="/Admin/NoteKyThuat/UpdateHTC/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-warning" onclick="return confirm('Bạn muốn xóa Hình: @Item.Id ??')" href="/Admin/NoteKyThuat/DeleteHTC/@Item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        }
                    </td>
                </tr>

            }
        </tbody>

    </table>

</div>